In [29]:
import pandas as pd
import pickle
df= pd.read_csv('laliga.csv')

In [30]:
df.head()

    Season        Date    HomeTeam    AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR
0  1995-96  02-09-1995   La Coruna    Valencia     3     0   H   2.0   0.0   H
1  1995-96  02-09-1995    Sp Gijon    Albacete     3     0   H   3.0   0.0   H
2  1995-96  03-09-1995  Ath Bilbao   Santander     4     0   H   2.0   0.0   H
3  1995-96  03-09-1995  Ath Madrid    Sociedad     4     1   H   1.0   1.0   D
4  1995-96  03-09-1995       Celta  Compostela     0     1   A   0.0   0.0   D

In [31]:
#Data_cleaning
columns_to_remove=['Season','FTR','HTR']
final1=df.drop(labels=columns_to_remove,axis=1,inplace=True)

In [32]:
df.head()

         Date    HomeTeam    AwayTeam  FTHG  FTAG  HTHG  HTAG
0  02-09-1995   La Coruna    Valencia     3     0   2.0   0.0
1  02-09-1995    Sp Gijon    Albacete     3     0   3.0   0.0
2  03-09-1995  Ath Bilbao   Santander     4     0   2.0   0.0
3  03-09-1995  Ath Madrid    Sociedad     4     1   1.0   1.0
4  03-09-1995       Celta  Compostela     0     1   0.0   0.0

In [33]:
teams=df['HomeTeam'].unique()
teams.sort()
teams

array(['Alaves', 'Albacete', 'Almeria', 'Ath Bilbao', 'Ath Madrid',
       'Barcelona', 'Betis', 'Cadiz', 'Celta', 'Compostela', 'Cordoba',
       'Eibar', 'Elche', 'Espanol', 'Extremadura', 'Getafe', 'Gimnastic',
       'Girona', 'Granada', 'Hercules', 'Huesca', 'La Coruna',
       'Las Palmas', 'Leganes', 'Levante', 'Logrones', 'Malaga',
       'Mallorca', 'Merida', 'Murcia', 'Numancia', 'Osasuna', 'Oviedo',
       'Real Madrid', 'Recreativo', 'Salamanca', 'Santander', 'Sevilla',
       'Sociedad', 'Sp Gijon', 'Tenerife', 'Valencia', 'Valladolid',
       'Vallecano', 'Villareal', 'Villarreal', 'Xerez', 'Zaragoza'],
      dtype=object)

In [34]:
key_team=['Alaves', 'Ath Bilbao', 'Ath Madrid',
       'Barcelona', 'Betis','Celta',
       'Eibar', 'Espanol', 'Getafe',
       'Granada','Leganes', 'Levante',
       'Mallorca','Osasuna',
       'Real Madrid', 'Sevilla',
       'Sociedad', 'Valencia', 'Valladolid', 'Villareal']

In [35]:
df=df[(df['HomeTeam'].isin(key_team)) & (df['AwayTeam'].isin(key_team))]

In [40]:
df

            Date     HomeTeam     AwayTeam  FTHG  FTAG  HTHG  HTAG
3     03-09-1995   Ath Madrid     Sociedad     4     1   1.0   1.0
8     03-09-1995   Valladolid    Barcelona     0     2   0.0   0.0
14    09-09-1995  Real Madrid   Ath Bilbao     1     2   0.0   0.0
21    10-09-1995     Valencia   Valladolid     1     0   0.0   0.0
22    16-09-1995   Ath Bilbao   Ath Madrid     0     2   0.0   1.0
...          ...          ...          ...   ...   ...   ...   ...
9659  19-07-2020      Granada   Ath Bilbao     4     0   1.0   0.0
9660  19-07-2020      Leganes  Real Madrid     2     2   1.0   1.0
9661  19-07-2020      Levante       Getafe     1     0   0.0   0.0
9662  19-07-2020      Osasuna     Mallorca     2     2   1.0   1.0
9663  19-07-2020      Sevilla     Valencia     1     0   0.0   0.0

[4268 rows x 7 columns]

In [9]:
#date-time conversion
from datetime import datetime
df['Date']=df['Date'].apply(lambda x:datetime.strptime(x,'%d-%m-%Y'))

In [10]:
#data_processing
encoded_df= pd.get_dummies(data=df,columns=['HomeTeam','AwayTeam'])

In [41]:
encoded_df

,Date,FTHG,FTAG,HTHG,HTAG,HomeTeam_Alaves,HomeTeam_Ath Bilbao,HomeTeam_Ath Madrid,HomeTeam_Barcelona,HomeTeam_Betis,...,AwayTeam_Leganes,AwayTeam_Levante,AwayTeam_Mallorca,AwayTeam_Osasuna,AwayTeam_Real Madrid,AwayTeam_Sevilla,AwayTeam_Sociedad,AwayTeam_Valencia,AwayTeam_Valladolid,AwayTeam_Villareal
3,1995-09-03,4,1,1.0,1.0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
8,1995-09-03,0,2,0.0,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,1995-09-09,1,2,0.0,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,1995-09-10,1,0,0.0,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
22,1995-09-16,0,2,0.0,1.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9659,2020-07-19,4,0,1.0,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9660,2020-07-19,2,2,1.0,1.0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9661,2020-07-19,1,0,0.0,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9662,2020-07-19,2,2,1.0,1.0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9663,2020-07-19,1,0,0.0,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [12]:
encoded_df.columns

Index(['Date', 'FTHG', 'FTAG', 'HTHG', 'HTAG', 'HomeTeam_Alaves',
       'HomeTeam_Ath Bilbao', 'HomeTeam_Ath Madrid', 'HomeTeam_Barcelona',
       'HomeTeam_Betis', 'HomeTeam_Celta', 'HomeTeam_Eibar',
       'HomeTeam_Espanol', 'HomeTeam_Getafe', 'HomeTeam_Granada',
       'HomeTeam_Leganes', 'HomeTeam_Levante', 'HomeTeam_Mallorca',
       'HomeTeam_Osasuna', 'HomeTeam_Real Madrid', 'HomeTeam_Sevilla',
       'HomeTeam_Sociedad', 'HomeTeam_Valencia', 'HomeTeam_Valladolid',
       'HomeTeam_Villareal', 'AwayTeam_Alaves', 'AwayTeam_Ath Bilbao',
       'AwayTeam_Ath Madrid', 'AwayTeam_Barcelona', 'AwayTeam_Betis',
       'AwayTeam_Celta', 'AwayTeam_Eibar', 'AwayTeam_Espanol',
       'AwayTeam_Getafe', 'AwayTeam_Granada', 'AwayTeam_Leganes',
       'AwayTeam_Levante', 'AwayTeam_Mallorca', 'AwayTeam_Osasuna',
       'AwayTeam_Real Madrid', 'AwayTeam_Sevilla', 'AwayTeam_Sociedad',
       'AwayTeam_Valencia', 'AwayTeam_Valladolid', 'AwayTeam_Villareal'],
      dtype='object')

In [13]:
req_df=encoded_df[['Date','HomeTeam_Alaves', 'HomeTeam_Ath Bilbao',
       'HomeTeam_Ath Madrid', 'HomeTeam_Barcelona', 'HomeTeam_Betis',
       'HomeTeam_Celta', 'HomeTeam_Eibar', 'HomeTeam_Espanol',
       'HomeTeam_Getafe', 'HomeTeam_Granada', 'HomeTeam_Leganes',
       'HomeTeam_Levante', 'HomeTeam_Mallorca', 'HomeTeam_Osasuna',
       'HomeTeam_Real Madrid', 'HomeTeam_Sevilla', 'HomeTeam_Sociedad',
       'HomeTeam_Valencia', 'HomeTeam_Valladolid', 'HomeTeam_Villareal',
       'AwayTeam_Alaves', 'AwayTeam_Ath Bilbao', 'AwayTeam_Ath Madrid',
       'AwayTeam_Barcelona', 'AwayTeam_Betis', 'AwayTeam_Celta',
       'AwayTeam_Eibar', 'AwayTeam_Espanol', 'AwayTeam_Getafe',
       'AwayTeam_Granada', 'AwayTeam_Leganes', 'AwayTeam_Levante',
       'AwayTeam_Mallorca', 'AwayTeam_Osasuna', 'AwayTeam_Real Madrid',
       'AwayTeam_Sevilla', 'AwayTeam_Sociedad', 'AwayTeam_Valencia',
       'AwayTeam_Valladolid', 'AwayTeam_Villareal','HTHG', 'HTAG','FTHG', 'FTAG']]

In [14]:
X_train= req_df.drop(labels=['FTHG','FTAG'],axis=1)[req_df['Date'].dt.year>=2005]
X_test= req_df.drop(labels=['FTHG','FTAG'],axis=1)[req_df['Date'].dt.year>=2018]

In [15]:
yh_train=req_df[req_df['Date'].dt.year>=2005]['FTHG'].values
yh_test=req_df[req_df['Date'].dt.year>=2018]['FTHG'].values
ya_train=req_df[req_df['Date'].dt.year>=2005]['FTAG'].values
ya_test=req_df[req_df['Date'].dt.year>=2018]['FTAG'].values

In [16]:
X_train.drop(labels='Date',axis=True,inplace=True)
X_test.drop(labels='Date',axis=True,inplace=True)

# Regression

In [17]:
#Ridge
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV

In [18]:
ridge1=Ridge()
parameters={'alpha':[1e-10,1e-8,1e-6,1e-4,1e-2,1,5,10,15,20,30,40,50]}
ridge1_regressor=GridSearchCV(ridge1,parameters,scoring='neg_mean_squared_error',cv=5)
ridge1_regressor.fit(X_train,yh_train)

GridSearchCV(cv=5, estimator=Ridge(),
             param_grid={'alpha': [1e-10, 1e-08, 1e-06, 0.0001, 0.01, 1, 5, 10,
                                   15, 20, 30, 40, 50]},
             scoring='neg_mean_squared_error')

In [19]:
ridge2=Ridge()
parameters={'alpha':[1e-10,1e-8,1e-6,1e-4,1e-2,1,5,10,15,20,30,40,50]}
ridge2_regressor=GridSearchCV(ridge2,parameters,scoring='neg_mean_squared_error',cv=5)
ridge2_regressor.fit(X_train,ya_train)

GridSearchCV(cv=5, estimator=Ridge(),
             param_grid={'alpha': [1e-10, 1e-08, 1e-06, 0.0001, 0.01, 1, 5, 10,
                                   15, 20, 30, 40, 50]},
             scoring='neg_mean_squared_error')

In [20]:
home='HomeTeam-Score-Model.pkl'
away='AwayTeam-Score-Model.pkl'
pickle.dump(ridge1_regressor,open(home,'wb'))
pickle.dump(ridge2_regressor,open(away,'wb'))

In [23]:
pip install --upgrade sklearn --user

Collecting sklearn
  Downloading https://files.pythonhosted.org/packages/1e/7a/dbb3be0ce9bd5c8b7e3d87328e79063f8b263b2b1bfa4774cb1147bfcd3f/sklearn-0.0.tar.gz
Requirement already satisfied, skipping upgrade: scikit-learn in c:\programdata\anaconda3\lib\site-packages (from sklearn) (0.20.3)
Requirement already satisfied, skipping upgrade: numpy>=1.8.2 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.16.2)
Requirement already satisfied, skipping upgrade: scipy>=0.13.3 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.2.1)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Stored in directory: C:\Users\SURESH KUMAR\AppData\Local\pip\Cache\wheels\76\03\bb\589d421d27431bcd2c6da284d5f2286c8e3b2ea3cf1594c074
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0
Note: you may need to restart the kernel to use updated packages.